<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sper.demo.dao.IUserDao">
     
   
    <select id="queryAll"  resultType="user">
		SELECT id,firstname,lastname,phone,email FROM user
	</select>
	 
	<select id="queryPageList"  resultType="user">
		SELECT id,firstname,lastname,phone,email FROM user 
	</select>
	
	<!-- 插入 -->
	<insert id="saveUser" parameterType="user">
		insert into user(firstname,lastname,phone,email) values (#{firstname},#{lastname},#{phone},#{email});
		<selectKey keyProperty="id" resultType="int" order="AFTER">select LAST_INSERT_ID()</selectKey>
	</insert>
	
	<!-- 更新 -->
	<update id="updateUser" parameterType="user">	
		update user set firstname = #{firstname},
							  lastname = #{lastname},
							  phone = #{phone},
							  email = #{email}	
		where id = #{id}
	</update>
	<!-- 删除 -->
	<delete id="deleteUser" parameterType="java.lang.Integer">
		delete from user where id = #{id}
	</delete>
</mapper>